    #app {
        width:100%;
        background-color: #424671; 
        color: #fff;
        padding:20px;
    }
    .hello-user {
        font-weight: 400;
        text-decoration: underline;
    }